@{
    ViewBag.Title = "Get In Touch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Theatre of Glasgow<br />
    Glasgow, G42 7LQ<br />
    <abbr title="Phone">P:</abbr>
    01414401269
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@theatreofglasgow.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@theatreofglasgow.com</a>
</address>