@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img  class="img-responsive" src="~/Content/lt.jpg" />
    <p></p>
    <p class="lead">Welcome to the Theatre of Glasgow website. Keep up to date here with all of our news and updates on activities we will be hosting </p>

</div>
 <div class="slider">
     <div><img src="https://exeternorthcott.co.uk/wp-content/uploads/2017/06/James-Wilton-Web-Banner-900x300.jpg" /></div>
     <div><img src="https://bluemousetheatre.com/media/DSC_4883-900x300.jpg" /></div>
     <div><img src="http://spballet.net/wp-content/uploads/2017/08/IMG_1209-900x300.jpg" /></div>
 </div>
<div class="row">
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>
            All users can view posts. Sign up or log in to be able to comment on posts and be more involved.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>What's On</h2>
        <p>Check out the posts page for all upcoming events!</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Stay Updated</h2>
        <p>Keep up to date with the discussion by checking our site regularly</p>
        <p></p>
    </div>
</div>

<script>
$(".slider").slick({

  // normal options...
  infinite: false,

  // the magic
  responsive: [{

      adaptiveheight: true,
      infinite: true,
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        infinite: true
      }

    }, {

      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        dots: true
      }

    }, {

      breakpoint: 300,
      settings: "unslick" // destroys slick

    }]
});
</script>